.i-announcement-bar {
  position: relative;
  overflow: hidden;
  user-select: none; 
  
  .i-announcement-bar__item {
    text-align: center;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;

    &:first-child {
      position: relative;
      opacity: 1;
      visibility: visible;
    }

    a {
      display: block;
      color: #faf5e8;
      text-decoration: none;
      pointer-events: auto;
    }
  }
}

.shopify-section-group-header-group {
  z-index: 1;
}