.i-announcement-bar {
  .i-announcement-bar__item {
    text-align: center;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      margin-left: 8px;
      margin-right: 8px;
      font-weight: bold;
    }
  }
}

.shopify-section-group-header-group {
  z-index: 1;
}