.i-announcement-bar {
  .i-announcement-bar__item {
    text-align: center;
    height: 41px;
    display: flex !important;
    align-items: center;
    justify-content: center;

    a {
      display: block;
      color: #faf5e8;
      text-decoration: none;
    }
  }
}

.shopify-section-group-header-group {
  z-index: 1;
}