.section-header {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 41px;

  &.sticky {
    top: var(--_top);
  }
}

.i-header-container {
  position: relative;
  height: 66px;

  @media only screen and (max-width: 1024px) {
    height: 55px;
  }

  &__content {
    height: 100%;
    position: relative;
    padding: 0 $Space-1200;

    &.page-no-boxed {
      padding: 0 20px;
    }

    & > div {
      height: 100%;
    }

    &--logo {
      width: 105px;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      margin: auto;
      text-align: center;

      .header__logo {
        text-decoration: none;
        display: block;

        &--wrapper {
          display: flex;
          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }

      img {
        width: 100% !important;
        height: auto !important;
        margin-bottom: -6px;
      }

      @media only screen and (max-width: 1024px) {
        max-width: 110px;
      }
    }
    &--menu {
      width: 80px;
      left: 26px;
      position: absolute;
      top: 0px;

      @media only screen and (min-width: 1025px) {
        display: inline-block;
        vertical-align: top;
        position: relative;
        max-width: 640px;
        width: auto;
        left: 10px;
      }
    }
    &--search {
      outline: 1px solid green;
      display: none;
    }
    &--icons {
      width: 150px;
      right: $Space-1200;
      position: absolute;
      top: 0px;
      text-align: right;

      @media only screen and (max-width: 1024px) {
        right: $Grid-MGrid-Margin;
      }

      &__icon {
        height: 100%;
        width: 30px;
        display: inline-block;
        vertical-align: top;
        text-align: right;
        margin-left: 16px;

        @media only screen and (max-width: 1024px) {
          &#icon-user {
            display: none;
          }
        }

        &#icon-minicart {
          .i-icon {
            display: block;
            cursor: pointer;
            margin-right: 0;
            margin-left: auto;
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }

  .i-header-menu {
    position: relative;

    &__toggler {
      position: absolute;
      width: 20px;
      height: 20px;
      z-index: 1;
      cursor: pointer;
      margin: auto;
      left: 0px;
      bottom: 0px;
      top: 0px;
      text-align: center;

      -webkit-transition: all .3s cubic-bezier(.77,0,.175,1);
      -moz-transition: all .3s cubic-bezier(.77,0,.175,1);
      -o-transition: all .3s cubic-bezier(.77,0,.175,1);
      transition: all .3s cubic-bezier(.77,0,.175,1);

      @media only screen and (max-width: 1024px) {
        width: 30px;
        height: 30px;
      }

      &:active {
        transform: scale(0.5);
      }

      @media only screen and (min-width: 1025px) {
        display: none !important;
      }

      svg {
        width: 20px;
        height: 20px;
        display: block;
        margin: 0 auto;

        @media only screen and (max-width: 1024px) {
          width: 30px;
          height: 30px;
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }

    &__content {
      position: fixed;
      background-color: #faf5e8;
      top: 41px !important;
      bottom: 0px;
      left: -100%;
      width: 100%;
      max-width: 100%;
      z-index: 2;

      @media only screen and (max-width: 1024px) {
        top: 0px !important;
      }

      &--items {
        padding: 0px;
        margin: 0px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 145px;

        @media only screen and (max-width: 1024px) {
          overflow: hidden;
          top: 90px;
          bottom: 230px;
          opacity: 1;

          li.i-header-menu__content--items__item {
            a.i-header-menu__content--items__item--link {
              color: #5B1414 !important;
              padding: 26px 32px !important;
              padding-bottom: 5px !important;
              font-size: 18px;
            }
          }
        }

        .i-header-menu__content--items__item--back,
        .i-header-menu__content--items__subitem--back {
          display: block;
          border: 0;
          width: 100%;
          text-align: left;
          padding: 18px 26px;
          background-color: rgba($color: #000000, $alpha: 0.04);
          cursor: pointer;

          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.02);
          }

          svg {
            transform: rotate(-180deg);
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
            position: relative;
            top: -1px;
          }

          @media only screen and (min-width: 1025px) {
            display: none !important;
          }
        }

        li {
          list-style: none;

          @media only screen and (min-width: 1025px) {
            display: inline-block;
            vertical-align: middle;
            position: relative;

            &.i-header-menu__content--items__item--submenu--items__item {
              display: block;

              a,
              .item-details {
                padding: 6px 12px;

                summary {
                  svg {
                    &:nth-child(2) {
                      transform: rotate(-90deg);
                      top: -2px;
                    }
                  }
                }
              }
            }
          }

          svg {
            -webkit-transition: all .25s cubic-bezier(.77,0,.175,1);
            -moz-transition: all .25s cubic-bezier(.77,0,.175,1);
            -o-transition: all .25s cubic-bezier(.77,0,.175,1);
            transition: all .25s cubic-bezier(.77,0,.175,1);
          }

          a {
            text-decoration: none;
            padding: 14px 26px;
            display: block;

            @media only screen and (min-width: 1025px) {
              padding: 0px 36px;

              &:hover {
                text-decoration: underline;
              }
            }

            @media only screen and (max-width: 1024px) {
              &:hover {
                background-color: rgb(238, 238, 238);
              }
            }
            
          }

          &:first-child {
            a {
              padding-left: 0px !important;
            }
          }

          .item-details {
            padding: 14px 26px;
            display: block;

            @media only screen and (min-width: 1025px) {
              padding: 0px 12px;
              
              summary {
                font-size: 14px;
                color: #000;
              }
            }

            summary {
              & > svg {
                position: absolute;
                right: 0px;
                top: 8px;

                &:nth-child(1) {
                  @media only screen and (min-width: 1025px) {
                    display: none !important;
                  }
                }
                &:nth-child(2) {
                  display: none !important;

                  @media only screen and (min-width: 1025px) {
                    display: inline-block !important;
                    position: relative;
                    top: -1px;
                    margin-left: 4px;
                  }
                }
              }
            }

            @media only screen and (max-width: 1024px) {
              &:hover {
                background-color: rgb(238, 238, 238);
              }
            }

            &.open {
              .i-header-menu__content--items__item--submenu {
                @media only screen and (max-width: 1024px) {
                  left: 0%;
                }
                @media only screen and (min-width: 1025px) {
                  visibility: visible;
                  opacity: 1;
                  top: 30px;
                }
              }

              .item-details {
                @media only screen and (min-width: 1025px) {
                  .i-header-menu__content--items__item--submenu--items__item--submenu {
                    right: auto;
                    left: 100%;
                    transform: translate(12px, 0px);
                    top: 0;
                  }
                }

                &.open {
                  @media only screen and (min-width: 1025px) {
                    .i-header-menu__content--items__item--submenu--items__item--submenu {
                      visibility: visible;
                      opacity: 1;
                    }
                    
                  }
                }
              }

            }
            

            .i-header-menu__content--items__item--submenu,
            .i-header-menu__content--items__item--submenu--items__item--submenu {
              position: absolute;
              left: -100%;
              top: 0px;
              bottom: 0px;
              width: 100%;
              z-index: 1;
              background-color: #fff;
              border: 1px solid #e5e5e5;

              @media only screen and (min-width: 1025px) {
                left: 10px;
                top: 14px;
                width: auto;
                height: auto;
                visibility: hidden;
                opacity: 0;
                bottom: auto;
                padding: 12px;
              }
              
              &--items {
                padding: 0px;
                margin: 0px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0px;
                overflow: auto;

                @media only screen and (min-width: 1025px) {
                  position: relative;
                  overflow: visible;
                  min-width: 160px;
                }

                li {
                  .item-details {
                    &.open {
                      .i-header-menu__content--items__item--submenu--items__item--submenu {
                        @media only screen and (max-width: 1024px) {
                          left: 0%;
                        }
                      }
                    }
                  }
                }
              }
            }
          }

          &.i-header-menu__content--items__item {
            & > .item-details.open {
              @media only screen and (min-width: 1025px) {
                & > summary {
                  svg {
                    &:nth-child(2) {
                      transform: rotate(-180deg);
                    }
                  }
                }
              }
            }
          }
        }

        @media only screen and (min-width: 1025px) {
          position: relative;
          bottom: auto;
          width: 400px;
        }

        &__heading {
          text-align: center;
        }
        &__products {
          position: relative;
          overflow: auto;
          height: 100%;
          box-sizing: border-box;
          padding: 0 22px;

          .i-section-product-testimonials__products--list__p {
            @media only screen and (max-width: 1024px) {
              margin-bottom: 12px;
              .i-product-card {
                width: 100%;
                border-radius: var(--Corner-Extra-small, 4px);
                background: var(--Colors-300, #EEE6D4);
                padding: 12px;
                height: 108px;
                position: relative;

                .i-product-card__gallery {
                  position: absolute;
                  left: 12px;
                  top: 12px;
                  width: 110px;
                  height: auto;
                  bottom: -4px;
                  border-radius: 0px;

                  img {
                    border-radius: 0px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                  }
                }
                .i-product-card__labels {
                  position: absolute;
                  left: 130px;
                  right: 12px;
                  bottom: 12px;
                  top: 12px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;

                  .i-product-card__labels--title {
                    margin: 0px;
                    margin-bottom: $Space-400;
                    padding: 0px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                  .i-product-card__labels--prices {
                    color: var(--Colors-500, var(--Colors-500, #887E64)) !important;
                  }
                }
              }
              .i-product-card__labels--reviews,
              .i-product-card__labels--actions {
                display: none;
              }
            }
          }
        }
      }

      &--links {
        padding: 0px;
        margin: 0px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 225px;
        display: flex;
        gap: $Space-1200;
        flex-direction: column;
        align-items: center;
        align-self: stretch;
        justify-content: center;

        &::before {
          content: "";
          position: absolute;
          left: 20px;
          height: 1px;
          bottom: 0;
          margin: auto;
          background-color: #c5beaf;
          top: 18px;
          right: 20px;
        }

        &__primary {
          border-radius: var(--Corner-Full, 100000px);
          background: var(--Colors-100, #5B1414);
          display: inline-block;
          padding: 12px $Space-1200;
          color: var(--Colors-White, var(--Colors-white, #FFF));
          font-family: var(--Family-Font, Besley);
          font-size: var(--Typo-Body-M, 14px);
          font-style: normal;
          font-weight: 600;
          line-height: 95%;
          letter-spacing: -0.42px;
          text-decoration: none;
        }
        &__secondary {
          color: var(--Colors-800, var(--Colors-800, #1E1E1E));
          font-family: var(--Family-Font, Besley);
          font-size: var(--Typo-Body-XL, 18px);
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          letter-spacing: -0.54px;
          text-decoration: none;
        }
      }

      @media only screen and (min-width: 1025px) {
        position: relative;
        top: auto !important;
        left: auto;
        width: auto;
        background-color: transparent;
      }
      
      &--alternative-header {
        padding: 0px;
        margin: 0px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 76px;
        z-index: 2;

        .i-header-menu__toggler {
          left: 24px;

          svg {
            display: block !important;
            path {
              fill: #1E1E1E !important;
            }
          }
        }
        .i-header-cart__toggler {
          position: absolute;
          width: 28px;
          height: 28px;
          z-index: 1;
          cursor: pointer;
          margin: auto;
          right: 22px;
          bottom: 0;
          top: 0;

          svg {
            width: 100%;
            height: 100%;
            path {
              stroke: #1E1E1E;
              fill: #1E1E1E;
            }
          }
        }
        .i-header-container__content--logo {
          filter: invert(100%);
          -webkit-filter: invert(100%);
          -moz-filter: invert(100%);
          height: 100%;
        }
      }
    }

    &__overlay {
      position: fixed;
      background-color: #000;
      top: 119px;
      bottom: 0px;
      left: 0px;
      width: 100%;
      z-index: 1;
      visibility: hidden;
      opacity: 0;
      cursor: pointer;
      display: block;

      @media only screen and (max-width: 1024px) {
        top: 0px !important;
      }
    }
  }
}

body.open-menu {
  position: fixed; 
  overflow-y: scroll;
  width: 100%;

  .sticky {
    top: 0px !important;
  }

  .i-header-menu {
    .i-header-menu__toggler {

      svg {
        &:nth-child(1) {
          display: none;
        }
        &:nth-child(2) {
          display: block;
        }
      }
    }
    .i-header-menu__content {
      left: 0px;
    }
    .i-header-menu__overlay {
      visibility: visible;
      opacity: 0.5;
    }
  }

  .i-header-container__content--icons {
    @media only screen and (max-width: 1024px) {
      z-index: 1 !important;
    }
  }
}

body.open-cart {
  overflow: hidden;

  @media only screen and (min-width: 1025px) {
    width: 100%;
    padding-right: 15px;
  }

  .i-header-container__content--icons {
    z-index: initial;
  }
}
