.i-section {
  position: relative;
  margin: 88px 0px;

  &.i-section-full {
    margin: 0px 0px;
  }
  @media only screen and (max-width: 1024px) {
    margin: 60px 0px;

    &.i-section-full {
      margin: 0px 0px;
    }
  }

  .i-section-primary-hero {
    height: calc(100vh - 41px);
    position: relative;

    &__overlay {
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.36) 57.49%, rgba(0, 0, 0, 0.00) 100%);
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 1;
      display: block !important;
    }
  }

  &.i-section-marqee-container {
    overflow: hidden; 
    white-space: nowrap;
    margin-top: 0px;
    .i-section-marqee {
      display: inline-block; 
      animation: marquee 40s linear infinite;
      padding: 16px 0px;
      .marquee-item {
        font-style: italic;
        letter-spacing: -0.6px;
        display: inline-block;
        padding: 0 2rem;

        svg {
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          position: relative;
          top: -2px;
        }
      }
    }
  }

  .i-section-product-list {
    position: relative;

    .collection-featured-products {
      position: relative;
      padding: 0 $Grid-DGrid-Margin;
      white-space: nowrap;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      @media only screen and (max-width: 1024px) {
        padding: 0 $Grid-MGrid-Margin;
      }
    }
  }

  .i-section-parallax {
    height: 345px;
    position: relative;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    overflow: hidden;

    &.is-video-background {
      background-image: transparent !important;
    }

    .i-section-parallax__overlay {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(0, 0, 0, 0.50);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 1024px) {
        padding: 0px 20px;
      }

      h2 {
        font-weight: 700;
        margin: $Space-600 0px;
        line-height: 44px;

        @media only screen and (max-width: 1024px) {
          line-height: 30px;
        }
      }
      p {
        margin: 0px;

        @media only screen and (max-width: 1024px) {
          line-height: 22px;
        }
      }

      &.is-alternate-title {
        h2 {
          width: 528px;
          max-width: 100%;
          font-weight: 400;
          margin-top: 0px;
        }
      }

      a {
        border-radius: var(--Corner-Full, 10000px);
        background: var(--Colors-200, #FAF5E8);
        padding: 17px 48px;
        margin-top: 40px;
        font-weight: 600;
        text-decoration: none;
      }
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .i-section-compare-versus {
    margin: $Space-800 $Space-4000;
    display: flex;

    @media only screen and (max-width: 1024px) {
      margin: $Space-800 $Grid-MGrid-Margin;
      padding: $Space-400 0px;
      display: block;
    }

    &__product {
      width: 40%;
      text-align: center;
      @media only screen and (max-width: 1024px) {
        width: 100%;
      }
    }
    &__specs {
      width: 20%;
      text-align: center;
      @media only screen and (max-width: 1024px) {
        width: 100%;

        .compare-versus__header {
          height: 140px;
        }
      }
    }
    .compare-versus__header {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        width: auto;
      }

      svg {
        @media only screen and (max-width: 1024px) {
          max-width: 70px !important;
        }
      }
    }

    .individual-comparative {
      @media only screen and (max-width: 1024px) {
        margin-top: 20px;
        padding: 0px !important;

        .i-section-compare-versus-comparative__item {
          .i-section-compare-versus-comparative__item--row {
            order: 2;
          }
          .i-section-compare-versus-comparative__item--col {
            order: 1;
          }
        }
      }
    }
  }
  .i-section-compare-versus-comparative {
    margin: $Space-800 $Space-4000;
    display: flex;
    flex-direction: column;
    gap: $Space-800;

    @media only screen and (max-width: 1024px) {
      margin: 0px;
      padding: 0px 20px;
      gap: 24px;
    }

    &__item {
      display: flex;

      &--row {
        width: 40%;
        border-radius: var(--Corner-Full, 10000px);
        background: var(--Colors-300, #EEE6D4);
        height: 10px;
        position: relative;
        margin-top: 3px;

        @media only screen and (max-width: 1024px) {
          text-align: left;
          width: 60%;
        }

        &__progress {
          position: absolute;
          border-radius: 100px;
          background: #C27530;
          top: 0px;
          right: 0px;
          height: 100%;
          display: block !important;
        }

        &.is-left {
          @media only screen and (max-width: 1024px) {
            display: none;
          }
        }

        &.is-right {
          .i-section-compare-versus-comparative__item--row__progress {
            right: auto;
            left: 0px;
            background: var(--Colors-100, #5B1414);
          }
        }
      }
      &--col {
        width: 20%;
        text-align: center;

        @media only screen and (max-width: 1024px) {
          text-align: left;
          width: 40%;
        }
      }
    }
  }
  .i-section-compare-versus-footer {
    text-align: center;
    padding-top: 32px;
    border-top: 1px solid var(--Colors-300, #EEE6D4);
    margin-top: 48px;
    font-style: italic;
    padding-bottom: 24px;
  }

  .i-section-specifications {
    margin: $Space-800 $Space-800;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 1024px) {
      margin: $Space-800 $Grid-MGrid-Margin;
    }

    &--row {
      display: flex;
      margin-bottom: $Space-1200;

      &.has-border {
        margin-bottom: 0px;
        border-bottom: 1px solid var(--Colors-400, #C5BEAF);
        padding: $Space-800 0px;

        .i-section-specifications--row__col-2 {
          em {
            opacity: 0.5;
            font-style: normal;
            color: #887E64;
          }
        }

        @media only screen and (max-width: 1024px) {
          padding: $Space-400 0px;
          
          .simple-row-spec {
            font-size: var(--Typo-Body-XS, 10px);
            display: flex;
            align-items: center;
            justify-content: center;

            &:first-child {
              justify-content: left;
            }
          }
        }
      }

      &__col-1 {
        width: 30%;

        h2 {
          margin: 0px;
          max-width: 350px;

          @media only screen and (max-width: 1390px) {
            max-width: 300px;
            font-size: 42px;
          }
        }
        a {
          border-radius: var(--Corner-Full, 10000px);
          background: var(--Colors-100, #5B1414);
          padding: 14px 45px;
          margin-top: 18px;
          font-weight: 600;
          text-decoration: none;
          display: inline-block;
        }
      }
      &__col-2 {
        width: 20%;
        text-align: center;

        .header-image {
          height: 105px;
          margin: 0 auto;
          display: list-item;
        }
      }

      &.row-head {
        @media only screen and (max-width: 1024px) {
          display: block;
          margin-bottom: 6px;

          .i-section-specifications--row__col-1 {
            display: block;
            width: 100%;
            text-align: center;
            margin-bottom: 32px;

            h2 {
              margin: 0 auto;
              font-size: 31px;
            }
          }
          .i-section-specifications--row__col-2 {
            display: inline-block;
            vertical-align: middle;
            width: 17.5%;
            margin-right: -4px;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              transform: scale(0.85);
            }

            &.first-image {
              margin-left: 27%;
              width: 19%;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }

  .i-section-testimonials {
    position: relative;
    padding: $Space-800 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;;

    &__text {
      text-align: center;
      width: 970px;
      display: block;
      margin: 0 auto;
      max-width: 100%;
      p {
        margin: 0px;
        color: var(--Colors-Grey, var(--Colors-grey, #464646));
        text-align: center;
        font-family: var(--Family-Font, Besley);
        font-size: var(--Typo-H3, 31px);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.93px;

        @media only screen and (max-width: 1024px) {
          font-size: var(--Typo-H3, 20px);
          padding: 0 20px;
        }

        strong {
          font-weight: 700;
        }
      }
    }
    &__profile {
      text-align: center;

      &--avatar {
        display: inline-block;
        vertical-align: middle;

        img {
          margin-bottom: -10px;
        }
      }
      &--labels {
        display: inline-block;
        vertical-align: middle;
        text-align: left;
        padding-left: 16px;

        .title-profile {
          font-weight: 700;
          text-transform: uppercase;
          margin-bottom: 10px;
        }
      }
    }
  }

  .i-section-image-text {
    margin: $Space-800 $Space-800;
    display: flex;

    @media only screen and (max-width: 1024px) {
      display: block;
      margin: $Space-800 $Grid-MGrid-Margin
    }

    .i-section-image-text__image {
      flex: 1;
      width: 50%;
      position: relative;
      padding: $Space-600;

      @media only screen and (max-width: 1024px) {
        display: block;
        width: 100%;
        padding: $Space-600 0px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;

        @media only screen and (max-width: 1024px) {
          height: auto;
        }
      }
    }
    .i-section-image-text__text {
      flex: 1;
      display: flex;
      flex-direction: column;
      width: 50%;
      align-items: center;
      justify-content: center;
      text-align: center;

      @media only screen and (max-width: 1024px) {
        display: block;
        width: 100%;
      }

      &--pharagrah {
        margin: 32px 0px;
        width: 516px;
        max-width: 100%;
      }
      h2 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 554px;
        max-width: 100%;
      }
      p {
        color: var(--Colors-800, var(--Colors-800, #1E1E1E));
        text-align: center;
        font-family: var(--Family-Font---Body, "Instrument Sans");
        font-size: var(--Typo-Body-M, 16px);
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        margin-bottom: 36px;
      }
      a {
        border-radius: var(--Corner-Full, 10000px);
        background: var(--Colors-100, #5B1414);
        font-style: normal;
        font-weight: 600;
        line-height: 95%;
        letter-spacing: -0.48px;
        text-decoration: none;
        display: inline-block;
        padding:  18px $Space-1200;
        cursor: pointer;

        &:hover {
          background: var(--Colors-100, #802020);
        }
      }
    }
  }

  .i-section-image-faqs {
    padding: $Space-1200 $Grid-DGrid-Margin;
    display: flex;

    @media only screen and (max-width: 1024px) {
      padding: $Space-1200 $Grid-MGrid-Margin;
      display: block;
    }

    &__title {
      margin-top: 0px;
      width: 35%;

      @media only screen and (max-width: 1024px) {
        width: 100%;
        margin-bottom: 32px;
      }
    }
    &__items {
      width: 65%;
      min-height: 420px;

      @media only screen and (max-width: 1024px) {
        width: 100%;
        min-height: auto;
      }

      .i-section-image-faqs__item {
        padding: $Space-400 0px;
        border-bottom: 1px solid;
        margin-bottom: 10px;

        &:first-child {
          padding-top: 0px;
        }
        details {
          summary {
            font-weight: 700;
            line-height: 25px;
            position: relative;
            svg {
              -webkit-transition: all .25s cubic-bezier(.77,0,.175,1);
              -moz-transition: all .25s cubic-bezier(.77,0,.175,1);
              -o-transition: all .25s cubic-bezier(.77,0,.175,1);
              transition: all .25s cubic-bezier(.77,0,.175,1);
              position: absolute;
              right: 0px;
              top: 2px;
            }
          }
        }
        details[open] {
          summary {
            svg {
              transform: rotate(45deg);
            }
          }
        }
      }
    }
  }

  .i-section-instagram-feed {
    position: relative;

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;
      margin-bottom: 34px;
      padding: 0px $Grid-DGrid-Margin;

      @media only screen and (max-width: 1024px) {
        padding: 0px $Grid-MGrid-Margin;
        margin-bottom: 28px;
      }

      h2 {
        font-style: italic;
        font-weight: 700;

        @media only screen and (max-width: 1024px) {
          text-align: center;
          display: block;
          width: 100%;
        }
      }
    }
    &__items {
      position: relative;
      padding: 0 $Grid-DGrid-Margin;
      white-space: nowrap;
      overflow: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      @media only screen and (max-width: 1024px) {
        padding: 0px $Grid-MGrid-Margin;
        margin-bottom: 44px;
      }

      .i-section-instagram-feed__item {
        display: inline-block;
        width: 26%;
        margin-right: $Space-600;
        max-width: 390px;
        position: relative;
        aspect-ratio: 2 / 3.5;

        @media only screen and (max-width: 1024px) {
          width: 60%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
        }
      }
    }

    .alternate-link {
      text-decoration: none;
      border-radius: var(--Corner-Full, 10000px);
      border: var(--Strokes-Small, 1px) solid var(--Colors-100, #5B1414);
      padding: 16px $Space-1200;
      
      &:hover {
        background-color: #5b14141f;
      }

      @media only screen and (max-width: 1024px) {
        text-align: center;
        display: block;
        width: 80%;
        margin: 0 auto;
        max-width: 286px;
        padding: 14px 22px;
      }
    }
  }
}

@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}