<header class="i-header-container" style="height: {{ section.settings.container_height }}px;">

  <div class="i-header-container__content i-container">
    <div class="i-header-container__content--logo">
      <div class="re">
        <div class="ce">
          <a href="{{ routes.root_url }}" class="header__logo">
            <div class="header__logo--wrapper">
              <img src="{{ section.settings.logo_header | image_url: width: 400 }}" alt="Logo Arcadia" />
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="i-header-container__content--menu">
      <div class="re">
        <div class="ce">
          {%- liquid
            if section.settings.menu != blank
              render 'header-drawer'
            endif
          -%}
        </div>
      </div>
    </div>
    <div class="i-header-container__content--search">
      Searchbar

      {% comment %} {% render 'header-search', input_id: 'Search-In-Modal' %} {% endcomment %}
    </div>
    <div class="i-header-container__content--icons">

      {% comment %} <div id="icon-search" class="i-header-container__content--icons__icon rule">
        <div class="re">
          <div class="ce">
            sea
          </div>
        </div>
      </div>

      <div id="icon-user" class="i-header-container__content--icons__icon rule">
        <div class="re">
          <div class="ce">
            us
          </div>
        </div>
      </div> {% endcomment %}

      <div id="icon-minicart" class="i-header-container__content--icons__icon">
        <i-minicart blocks="{{ settings.enable_permalink_cart }}" />
      </div>
    </div>
  </div>

</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Estructura"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "image_picker",
      "id": "logo_header",
      "label": "Logo header"
    },





    

    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "container_height",
      "min": 40,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.header.settings.container_height.label",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },

  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
