{%- liquid
  assign should_show_background = false
  assign transparent_pages = section.settings.transparent_pages
  
  if section.settings.background_enabled
    case transparent_pages
      when 'none'
        assign should_show_background = true
      when 'home'
        if template == 'index'
          assign should_show_background = false
        else
          assign should_show_background = true
        endif
      when 'home_collection'
        if template == 'index' or template contains 'collection'
          assign should_show_background = false
        else
          assign should_show_background = true
        endif
      when 'home_collection_product'
        if template == 'index' or template contains 'collection' or template contains 'product'
          assign should_show_background = false
        else
          assign should_show_background = true
        endif
      when 'all_except_cart'
        if template contains 'cart' or template contains 'checkout'
          assign should_show_background = true
        else
          assign should_show_background = false
        endif
      when 'all'
        assign should_show_background = false
    endcase
  endif
-%}

<header class="i-header-container{% if should_show_background %} i-header-container--background{% endif %}" style="height: {{ section.settings.container_height }}px;">

  <div class="i-header-container__content">
    <div class="i-header-container__content--logo">
      <div class="re">
        <div class="ce">
          <a href="{{ routes.root_url }}" class="header__logo">
            <div class="header__logo--wrapper">

              {% if template == 'index' or template == 'page.faqs' %}
                <img src="{{ section.settings.logo_header | image_url: width: 400 }}" alt="Logo Arcadia" />
              {% else %}
                <img src="{{ section.settings.logo_header_dark | image_url: width: 400 }}" alt="Logo Arcadia" />
              {% endif %}
              
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="i-header-container__content--menu">
      <div class="re">
        <div class="ce">
          {%- liquid
            if section.settings.menu != blank
              render 'header-drawer'
            endif
          -%}
        </div>
      </div>
    </div>
    <div class="i-header-container__content--search">
      Searchbar

      {% comment %} {% render 'header-search', input_id: 'Search-In-Modal' %} {% endcomment %}
    </div>
    <div class="i-header-container__content--icons">

      {% comment %} <div id="icon-search" class="i-header-container__content--icons__icon rule">
        <div class="re">
          <div class="ce">
            sea
          </div>
        </div>
      </div>

      <div id="icon-user" class="i-header-container__content--icons__icon rule">
        <div class="re">
          <div class="ce">
            us
          </div>
        </div>
      </div> {% endcomment %}

      <div id="icon-minicart" class="i-header-container__content--icons__icon">
        <i-minicart blocks="65|" />
      </div>
    </div>
  </div>

</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "class": "section-header",
  "max_blocks": 3,
  "settings": [
    {
      "type": "header",
      "content": "Estructura"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "image_picker",
      "id": "logo_header",
      "label": "Logo header"
    },
    {
      "type": "image_picker",
      "id": "logo_header_dark",
      "label": "Logo header negro"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Productos megamenu"
    },


    

    {
      "type": "header",
      "content": "Apariencia"
    },
    {
      "type": "checkbox",
      "id": "background_enabled",
      "label": "Habilitar fondo de color",
      "default": false,
      "info": "Activa un fondo #FAF5E8 con texto #1E1E1E"
    },
    {
      "type": "select",
      "id": "transparent_pages",
      "label": "Páginas con header transparente",
      "options": [
        {
          "value": "none",
          "label": "Ninguna (siempre con fondo)"
        },
        {
          "value": "home",
          "label": "Solo página de inicio"
        },
        {
          "value": "home_collection",
          "label": "Página de inicio y colecciones"
        },
        {
          "value": "home_collection_product",
          "label": "Inicio, colecciones y productos"
        },
        {
          "value": "all_except_cart",
          "label": "Todas excepto carrito y checkout"
        },
        {
          "value": "all",
          "label": "Todas las páginas"
        }
      ],
      "default": "home",
      "info": "Selecciona en qué páginas el header debe ser transparente"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "container_height",
      "min": 40,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.header.settings.container_height.label",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    }
  ],
  "blocks": [
    {
      "type": "@app",
    }
  ]
}
{% endschema %}
