<div class="i-announcement-bar Bg-Colors-100">
  <li class="i-announcement-bar__item Text-Colors-200 Typo-Body-S Family-Font---Body">
    Envío gratis a todo el mundo en pedidos a partir de 65 €.
  </li>
</div>

{% schema %}
{
  "name": "iUROP Announcement Bar",
  "tag": "section",
  "class": "section",
  "settings": [],
  "presets": [
    {
      "name": "iUROP Announcement Bar"
    }
  ]
}
{% endschema %}
