<div class="i-section i-section-marqee-container" data-aos="fade-up">
  <div class="i-section-marqee Bg-Colors-100">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'announcement' %}
          <div class="marquee-item Family-Font Text-Colors-White Typo-Body-L">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
              <circle cx="9.19013" cy="10.0951" r="8.81152" stroke="white" stroke-width="0.766219"/>
              <path d="M6.78639 9.67826C6.66695 9.67859 6.55005 9.71167 6.4492 9.77367C6.34836 9.83568 6.2677 9.92409 6.21655 10.0287C6.1654 10.1332 6.14585 10.2497 6.16017 10.3646C6.17449 10.4795 6.22209 10.5881 6.29746 10.6778L7.90424 12.5848C7.96153 12.6537 8.03496 12.7084 8.11844 12.7443C8.20193 12.7802 8.29305 12.7963 8.38423 12.7912C8.57926 12.7811 8.75534 12.68 8.8676 12.5138L12.2053 7.30599C12.2053 7.30599 12.2064 7.30427 12.207 7.30342C12.2383 7.25683 12.2281 7.16451 12.1635 7.10651C12.1457 7.09058 12.1248 7.07835 12.102 7.07056C12.0792 7.06276 12.0549 7.05958 12.0308 7.0612C12.0066 7.06282 11.9831 7.06922 11.9616 7.07999C11.9401 7.09076 11.9211 7.10568 11.9058 7.12383C11.9046 7.12525 11.9034 7.12666 11.9021 7.12804L8.53602 10.8127C8.52321 10.8267 8.50766 10.8381 8.49025 10.8463C8.47285 10.8544 8.45396 10.8591 8.43466 10.8601C8.41536 10.8612 8.39605 10.8584 8.37784 10.8522C8.35963 10.8459 8.3429 10.8362 8.3286 10.8236L7.21146 9.83864C7.09544 9.73559 6.94379 9.67838 6.78639 9.67826Z" fill="white"/>
            </svg>
            {{ block.settings.marqee }}
          </div>
      {% endcase %}
    {% endfor %}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'announcement' %}
          <div class="marquee-item Family-Font Text-Colors-White Typo-Body-L">
            <svg xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none">
              <circle cx="9.19013" cy="10.0951" r="8.81152" stroke="white" stroke-width="0.766219"/>
              <path d="M6.78639 9.67826C6.66695 9.67859 6.55005 9.71167 6.4492 9.77367C6.34836 9.83568 6.2677 9.92409 6.21655 10.0287C6.1654 10.1332 6.14585 10.2497 6.16017 10.3646C6.17449 10.4795 6.22209 10.5881 6.29746 10.6778L7.90424 12.5848C7.96153 12.6537 8.03496 12.7084 8.11844 12.7443C8.20193 12.7802 8.29305 12.7963 8.38423 12.7912C8.57926 12.7811 8.75534 12.68 8.8676 12.5138L12.2053 7.30599C12.2053 7.30599 12.2064 7.30427 12.207 7.30342C12.2383 7.25683 12.2281 7.16451 12.1635 7.10651C12.1457 7.09058 12.1248 7.07835 12.102 7.07056C12.0792 7.06276 12.0549 7.05958 12.0308 7.0612C12.0066 7.06282 11.9831 7.06922 11.9616 7.07999C11.9401 7.09076 11.9211 7.10568 11.9058 7.12383C11.9046 7.12525 11.9034 7.12666 11.9021 7.12804L8.53602 10.8127C8.52321 10.8267 8.50766 10.8381 8.49025 10.8463C8.47285 10.8544 8.45396 10.8591 8.43466 10.8601C8.41536 10.8612 8.39605 10.8584 8.37784 10.8522C8.35963 10.8459 8.3429 10.8362 8.3286 10.8236L7.21146 9.83864C7.09544 9.73559 6.94379 9.67838 6.78639 9.67826Z" fill="white"/>
            </svg>
            {{ block.settings.marqee }}
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "iUROP section - Marqee",
  "class": "section-marqee",
  "settings": [

  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "marqee",
          "label": "Item"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "iUROP section - Marqee",
      "category": "Custom"
    }
  ]
}
{% endschema %}
