<div class="i-section" data-aos="fade-up">

  <div class="i-section-table-comparer">
    Tabla comparativa
  </div>

</div>

{% schema %}
{
  "name": "iUROP section - Table",
  "class": "section-table-comparer",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "iUROP section - Table",
      "category": "Custom"
    }
  ]
}
{% endschema %}
