<div class="i-section" data-aos="fade-up">
  Faqs section here
</div>

{% schema %}
{
  "name": "iUROP section - Faqs",
  "settings": [

  ],
  "blocks": [],
  "presets": [
    {
      "name": "iUROP section - Faqs",
      "category": "Custom"
    }
  ]
}
{% endschema %}
