<div class="i-section" data-aos="fade-up">
  Instagram section here
</div>

{% schema %}
{
  "name": "iUROP section - Instagram",
  "settings": [

  ],
  "blocks": [],
  "presets": [
    {
      "name": "iUROP section - Instagram",
      "category": "Custom"
    }
  ]
}
{% endschema %}
