<div class="i-section" data-aos="fade-up">

  <div class="i-section-recipes">
    Recipes content here
  </div>

</div>

{% schema %}
{
  "name": "iUROP section - Recipes",
  "class": "section-recipes",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "iUROP section - Recipes",
      "category": "Custom"
    }
  ]
}
{% endschema %}
