<div class="i-section" data-aos="fade-up">

  <div class="i-section-banner-content">
    Banner content here
  </div>

</div>

{% schema %}
{
  "name": "iUROP section - Banner C",
  "class": "section-banner-content",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "iUROP section - Banner C",
      "category": "Custom"
    }
  ]
}
{% endschema %}
