// Text
.Text-Colors-100 { color: #5B1414; }
.Text-Colors-200 { color: #FAF5E8; }
.Text-Colors-300 { color: #EEE6D4; }
.Text-Colors-400 { color: #C5BEAF; }
.Text-Colors-500 { color: #887E64; }
.Text-Colors-600 { color: #FEC34D; }
.Text-Colors-700 { color: #4E502A; }
.Text-Colors-800 { color: #1E1E1E; }
.Text-Colors-900 { color: #000000; }
.Text-Colors-1000 { color: #FFFFFF; }
.Text-Colors-Ligth_grey { color: #868686; }
.Text-Colors-Grey { color: #464646; }
.Text-Colors-Black { color: #000000; }
.Text-Colors-White { color: #FFFFFF; }

// Bg
.Bg-Colors-100 { background-color: #5B1414; }
.Bg-Colors-200 { background-color: #FAF5E8; }
.Bg-Colors-300 { background-color: #EEE6D4; }
.Bg-Colors-400 { background-color: #C5BEAF; }
.Bg-Colors-500 { background-color: #887E64; }
.Bg-Colors-600 { background-color: #FEC34D; }
.Bg-Colors-700 { background-color: #4E502A; }
.Bg-Colors-800 { background-color: #1E1E1E; }
.Bg-Colors-900 { background-color: #000000; }
.Bg-Colors-1000 { background-color: #FFFFFF; }
.Bg-Colors-Ligth_grey { background-color: #868686; }
.Bg-Colors-Grey { background-color: #464646; }
.Bg-Colors-Black { background-color: #000000; }
.Bg-Colors-White { background-color: #FFFFFF; }