.Corner-None {
  border-radius: 0px;
}
.Corner-Extra-small {
  border-radius: 4px;
}
.Corner-Small {
  border-radius: 8px;
}
.Corner-Medium {
  border-radius: 12px;
}
.Corner-Large {
  border-radius: 16px;
}
.Corner-Large-increased {
  border-radius: 20px;
}
.Corner-Extra-large {
  border-radius: 28px;
}
.Corner-Full {
  border-radius: 10000px;
}